<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <%- include("../partials/header"); %>
    <main>
      <div class="jumbotron">
        <h1>Sobre Nós</h1>
        <p>Missão</p>
        <p>Valores</p>
        <p>Visão</p>
      </div>
    </main>
  </body>
</html>
